<footer>
    <div class="datos-f">
        <p>Contáctanos</p>
        <p>Nuestras redes sociales</p>
    </div>
    <div class="pie">
        <div class="social">
            <!-- <img src="/images/logo-solo.png" width="24px" alt="Logo de Hermaq">-->
            <a title="Instagram" href="https://www.instagram.com" target="blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a title="Whatsapp" href="https://www.whatssap.com" target="blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a title="Telegram" href="https://www.telegram.com" target="blank">
                <i class="far fa-paper-plane"></i>
            </a>
        </div>
    </div>
</footer>