<header>
    <div class="nav-cont">
        <div class="logo">
            <a class="logo" href="\"><img src="/images/logotipo-horizontal.png" alt="Logo de Hermaq"></a>
        </div>
        <div class="menu-cont">
            <input type="checkbox" id="check" />
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
            <nav class="menu">
                <ul id="ul-menu">
                    <li><a href="#seccion1">Categorías</a></li>
                    <li><a href="#seccion2">Ofertas</a></li>
                    <li><a href="#seccion3">Contacto</a></li>
                    <li><a href="#seccion4">Ayuda</a></li>
                </ul>
            </nav>
        </div>

    </div>
</header>
<div class="bus-car">
    <div class="search">
        <div class="form" action="#" method="GET">
            <input class="input" type="text" placeholder="¿Qué estas buscando?">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="carrito">
        <div>
            <a class="carrito" href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>