<div class="menu-cont">
    <input type="checkbox" id="check" />
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
    <nav class="menu">
        <ul id="ul-menu">
            <li><a href="#seccion1">Categorías</a></li>
            <li><a href="#seccion2">Ofertas</a></li>
            <li><a href="#seccion3">Contacto</a></li>
            <li><a href="#seccion4">Ayuda</a></li>
        </ul>
    </nav>
</div>