<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="/css/detalle.css" rel="stylesheet" type="text/css">

    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Outfit:wght@100;400&display=swap"
            rel="stylesheet">
    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <%- include('./partials/head')%>
    </head>

    <body class="cuerpo">
        
            <%- include('./partials/header')%>
        
        <br>
        <section class="section1">
            <h1>
                Motosierra Passion 
            </h1>
                <div class="contenedorimg">
                    <img class="imagen-producto"   src="./images/img-motosierra-Bosch.jpg" alt="imagenmotos">
                </div>
            <div class="descripcion-producto">
              <h3>Especificaciones tecnicas:</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint omnis praesentium nam. Unde error quidem cupiditate aliquam, doloribus accusamus labore, a dolorem hic expedita mollitia autem vero! Saepe, sit tempora.
              </p>
            </div>
            <br>
            <div class="precio">
                <p>$12.300
                </p>
            </div>
            <br>
            <div class="cantidadycompra">
                <form action="\cart">
                    <select name="cantidad" id="cantidad" class="btncantidad">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select> 
                    <a href="\cart"></a><input class="btncompra" type="submit" value="COMPRAR" ></a>
              </form>
            </div>
            <br>
            <div>
            <button class="btndisp">Consultar disponibilidad</button>
            </div>
        </section>
            <br>
            <div class="prodrelacionados">
                <h4>Productos relacionados
                </h4>
                    <br>
                <article>
                        <p>Set Herramientas</p>
                        <br>                 
                        <img class="prodrelac" src="https://www.todomaquinas.com.ar/contenido/productos/original/1638547424.jpeg" alt="img2">    
                        <br>
                </article>
                 

                    
                </article>
            </div>
           
    </body>


    <!--<body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a class="iconohome" href="\">
                            <img src="\images\logotipo-central.png">
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>    
            <div class="form" action="#" method="GET">
                <div><input type="text" placeholder="Buscar productos.."> <i class="fa fa-search"></i></div>  
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-user"></i>
            </div>

            <div class="cajacontenedora">
                <div class="imagen">
                    imagen de la izq
                    <div class="imagenesproducto">
                        <div class="contenedorimagenes">

                        </div>
                    </div>
                </div>
            </div><!-->
    <footer>
        <%- include('./partials/footer')%>
    </footer>
</html>