<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Outfit:wght@100;400&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="encabezado">
        <div class="icon">
            <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="contenedor">
        <header>
            <div class="nav-cont">
                <div class="logo">
                    <img src="/images/logotipo-horizontal.png" alt="Logo de Hermaq">
                </div>
                <div class="menu-cont">
                    <input type="checkbox" id="check" />
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                    <nav class="menu">
                        <ul id="ul-menu">
                            <li><a href="#seccion1">Categorías</a></li>
                            <li><a href="#seccion2">Ofertas</a></li>
                            <li><a href="#seccion3">Contacto</a></li>
                            <li><a href="#seccion4">Ayuda</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <div class="bus-car">
            <div class="search">
                <div class="form" action="#" method="GET">
                    <div class="input"><span>¿Qué estás buscando?</span></div>
                </div>
            </div>
            <div class="carrito">
                <div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <section class="banner">
            <img src="/images/tool.jpg" alt="Banner">
        </section>
        <div class="menu-pro">

            <span>Recientes</span>
            <span>Ofertas Especiales</span>
            <span>Populares</span>
        </div>
        <main>
            <section>
                <div class="products">
                    <div>
                        <article>
                            <img src="https://www.todomaquinas.com.ar/contenido/productos/original/1634826697-4620.jpeg"
                                alt="producto1">
                            <div class="main-article">
                                <div class="flex-cont">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <p class="precio">$18.400</p>
                                <p class="descuento">35% off</p>
                                <p class="detalle">Motosierra A Nafta</p>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article>
                            <img src="https://www.todomaquinas.com.ar/contenido/productos/original/1638547424.jpeg"
                                alt="producto2">
                            <div class="main-article">
                                <div class="flex-cont">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <p class="precio">$6.097</p>
                                <p class="descuento">40% off</p>
                                <p class="detalle">Juego De Herramientas</p>
                            </div>
                        </article>
                    </div>
                    <div>
                        <article>
                            <img src="https://www.todomaquinas.com.ar/contenido/productos/original/1631026170-4290.jpeg"
                                alt="producto3">
                            <div class="main-article">
                                <div class="flex-cont">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <p class="precio">$41.819</p>
                                <p class="descuento">20% off</p>
                                <p class="detalle">Compresor De Aire Electrico</p>
                            </div>
                        </article>
                        </div>
                        <div>
                        <article>
                            <img src="https://www.todomaquinas.com.ar/contenido/productos/original/1544639854.png"
                                alt="producto4">
                            <div class="main-article">
                                <div class="flex-cont">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <p class="precio">$30.791</p>
                                <p class="descuento">10% off</p>
                                <p class="detalle">Rotomartillo Sds Max 10</p>
                            </div>
                        </article>
                        </div>
                        <div>
                        <article>
                            <img src="https://www.todomaquinas.com.ar/contenido/productos/original/1544639854.png"
                                alt="producto4">
                            <div class="main-article">
                                <div class="flex-cont">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <p class="precio">$30.791</p>
                                <p class="descuento">10% off</p>
                                <p class="detalle">Rotomartillo Sds Max 10</p>
                            </div>
                        </article>
                        </div>
                        <div>
                        <article>
                            <img src="https://www.todomaquinas.com.ar/contenido/productos/original/1544639854.png"
                                alt="producto4">
                            <div class="main-article">
                                <div class="flex-cont">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <p class="precio">$30.791</p>
                                <p class="descuento">10% off</p>
                                <p class="detalle">Rotomartillo Sds Max 10</p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>
        <footer>

            <div class="footer">
                <div class="social">
                    <!-- <img src="/images/logo-solo.png" width="24px" alt="Logo de Hermaq">-->
                    <a title="Instagram" href="https://www.instagram.com" target="blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a title="Whatsapp" href="https://www.whatssap.com" target="blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a title="Telegram" href="https://www.telegram.com" target="blank">
                        <i class="far fa-paper-plane"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>


</body>

</html>