<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermaq</title>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>
    <div class="contenedor">
        <header>
            <div class="nav-grid">
                <div class="logo">
                    <img src="/images/logo1.png"  alt="Logo de Hermaq">
                    
                </div>
                
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <h3 class="estiloh3">Alquilá para testear, si te gusta, lo podés <strong>comprar</strong></h3>

            </div>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar...</div>
                
            </div>    

        </header>
        <p>En proceso</p>
    </div>
</body>

</html>