<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Not Found</title>
    <link rel="stylesheet" href="/css/error404.css">
</head>
<body>
    <div>
        <header>
            <div class="logo" href="/">
                <a href="\"> <img width="50%" src="/images/logotipo-central.png" alt="Logo Hermaq"></a>
            </div>
        </header>
        <br>
        <br>

        <div class="error404">
            <p class="p">La página que intentas solicitar no está en el servidor (Error 404)</p>
        </div> 
        <br>
        <br>
        <footer>
            <%- include('./partials/footer')%>
        </footer>
    </div>

</body>
</html>