<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<header>
    <div class="logo">
        <img src="/images/logo-central.png" alt="Logo Hermaq">
    </div>
</header>

<body>
    <div class= "contenedor">
        
        <h1>
                Cuenta
        </h1>
        
        <h2>
            Datos:
            <ul>
                <li>Nombre</li>
                <li>Apellido</li>
                <li>Dirección</li>
                <li>Email</li>
            </ul>
        </h2>
        <h2>
            Contraseña:
            <ul>
                <li>Contraseña</li>
                <li>Confirmar Contraseña</li>
            </ul>
        </h2>
    </div>
</body>
</html>