<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- recordar incluir head en las hojas -->
        <%- include('./partials/head')%>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    

<body>
    <div class= "contenedor">
        <header>
            <div class="logo" href="/">
                <a href="\"> <img width="50%" src="/images/logotipo-central.png" alt="Logo Hermaq"></a>
            </div>
        </header>
            <h1>
                Crear cuenta
            </h1>
            <div class= "caja-datos">
                <h2>
                    Datos:
                </h2>
            </div>
        <form class="form" method="post">
            <div class= "contenedor-datos">
                    <label>Nombre</label><input type="text" heigth="20" name= "nombreDeUsuario" required>
                    <br>
                    <label>Apellido</label><input type="text" name= "apellido" required>
                    <br>
                    <label>Dirección</label><input type="text" name= "direccion" required>
                    <br>
                    <label>Email</label><input type="email" name= "email" required>
            </div>
            <div class="caja-contraseña">
                <h2>
                    Contraseña:
                </h2>
            </div>
            <br>
            <div class="contenedor-contraseña">
                    <label>Ingrese Contraseña</label><input type="password" name="password" required>
                    <br>
                    <label>Confirmar contraseña</label><input type="password" name="confirmPassword" required>
            </div>
            <div class="buttons">
                <button type="reset">Borrar</button>
                <br>
                <button type="submit">Enviar</button>
            </div>
            
        </form>
        <footer>
            <%- include('./partials/footer')%>
        </footer>
    </div>
</body>

</html>
