* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    background-color: rgba(228, 227, 227, 0.733);
    }

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    }

.wrapper h1 {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    }

.project {
    display: flex;
}

.shop {
    flex: 75%
}

.box{
    display: flex;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    background:rgba(228, 227, 227, 0.733);
    transition: all .6s ease;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
}

.box:hover {
    transform: scale(1.02);
}

.box img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.content {
    padding: 20px;
    position: relative;
    width: 100%;
}

.content h3{
    margin-bottom: 30px;
}

.content h4 {
    margin-bottom: 50px;
}

.btn-area{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: orange;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.btn-area:hover{
    background-color: gold;
    color: red
}

.unit input {
    width: 50px;
    padding: 8px;
    text-align: center;
}

.btn-area i{
    margin-right: 5px;
}

.right-bar{
    flex: 25%;
    margin-left: 20px;
    padding:20px ;
    height: 400px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
}

.right-bar:hover{
    transform: scale(1.02);
}

.right-bar hr{
    margin-bottom: 25px;
}

.right-bar p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.right-bar a{
    text-decoration: none;
    background-color: orange;
    color: black;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900px;
}

.right-bar i {
    margin-right: 15px;
}

.right-bar a:hover{
    background-color: gold;
}

@media screen and (min-width: 700px) {
    .content h3 {
        margin-bottom: 15px;
    }

    .content h4 {
        margin-bottom: 20px;
    }
    .btn2{
        display: none;
    }
    .box{
        height: 150px;
    }
    .box img {
        height: 150px;
        width: 200px;
    }
}

@media screen and (max-width: 900px){
    .project{
        flex-direction: column;

    }
    .right-bar{
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 95%
    }
}

.menu-cont  {
    display: none;
}

.form{
    display: none;
}

.carrito{
    display: none;
}