* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
    }
    html {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        }

    header{
        position: fixed;
        z-index: 1000;
        padding: 16px;
        top: 20px;;
        left:0;
        width: 100%;
    }
  
    div.encabezado{
        display: block;
        /*background-color: #e29f0f;*/
        background-color: rgb(46 46 46 / 88%);
        border-bottom:1px solid  rgb(187, 185, 185);

    }
    div.icon{
        text-align: right;
        margin-right: 16px;
        color:rgb(180, 180, 180);
    }

    div span{
        text-align:right;
        font-size: 13px;
    }

    .contenedor .nav-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

    .logo img{
        width: 150px;
    }

    #ul-menu{       
        position: relative;
        list-style: none;
        text-align: left;
        display: block;
        top:0;
        left:0;
        transition: 0.5s;
        margin-top:36px;
    }
    
    li{
        padding: 9px;
        margin-top: -9px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .menu-cont{
        text-align: right;
        font-size: 14px;
        margin-top: 16px;
    }

    .menu-cont i{
        font-size: 20px;
        color:rgba(78, 78, 78, 0.55);
    }

    .fa-bars .fa-times {
        font-size: 24px;
    }
   
    .menu-cont #check{
       opacity: 0;
        position: absolute;
    }

    .menu-cont nav{
        display: none;
    }

    @media (min-width: 319px) and (max-width: 1439px) {
        .contenedor .menu-cont #check:checked ~ .menu {
            -webkit-box-shadow: 0px 30px 32px -10px rgb(0 0 0 / 55%);
            box-shadow: 0px 30px 32px -10px rgb(0 0 0 / 55%);
            /* padding-top: 0.5rem; */
            position: absolute;
            /* left: 0; */
            right: 0;
            background-color: rgb(46 46 46 / 88%);
            width: 58%;
            height: 241%;
            transition: all 500ms ease-out;
        }
        }
        
        .contenedor .menu-cont #check:checked ~ nav {
        display: block;
        }
        
        .contenedor .menu-cont #check:checked ~ .fa-bars {
        display: none;
        }
        
        .contenedor .menu-cont #check:not(:checked) ~ .fa-times {
        display: none;
        } 

        .banner img{
            width: 100%;
            margin-top: 10px;           
        }
        
        div .logo{
            z-index: 1500;
        }

        .menu-pro{
            font-family: 'Oswald', sans-serif;
            text-align: center;
            font-size: 10px;
            margin-top: 20px;
            font-weight: 550;
            margin-bottom: 25px;
        }

        .menu-pro span{
            border-bottom: 1px solid rgb(201, 201, 201);
            color: rgb(94, 94, 94);
            border-radius: 4px;
            font-size: 12px;
            padding: 6px;
            margin:10px;
            }

        p{
            margin: 10px;
            font-size: 12px;
            color: black;
        }
        
        .precio{
            font-size: 25px;
            margin-top: 1px;
            color: black;
        }
               
        .descuento{
            font-size: 14px;
            color:#c0bcbc ;
            
        }
        .detalle{
            display: flex;
            margin-left: 10px;
            font-size: 17px;       
        }
               
        main section article img{           
            width: 100%;   
            border-bottom:1px solid  rgb(187, 185, 185);
        }
               
        main section article i,
        .discount{
            color: #e29f0f;
        }
        
        main section article i{
            font-size: 20px;
            padding: 6px;
            width: 35px;
            height: 35px;
            border: 1px ;
            background-color: #FFF;
            border-radius: 50%;
            position: absolute;
            left:320px;
            top:-20px; 
            justify-content:center;
            align-items:center;          
        }
   
        main section article{       
            padding-bottom: 10px;
            box-shadow: 0px 0px 10px rgb(207, 207, 207);
            border-radius: 2%;
            margin-top: 20px;
            border:1px solid  rgb(187, 185, 185);
        }
        
        main section article .flex-cont{
            text-align: right;
            position:absolute;           
        }

        main{
            width: 90%;
            margin-left: auto;
            margin-right: auto; 
        }

        footer{
            background-color: white;
            }

        div .pie{
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }
        .social{
            display: flex;         
            justify-content: center;
        }

        .social a{
            color: #e29f0f;
        }

        .social i{
            padding:1rem;
        }

        .social img{
            padding:1rem;
            width: 13%;
        }
                
    .form .input{
        /*background-color: #FFF; */
        border: 1px solid rgb(153, 152, 152); 
        outline: none;
        color: #666;
        padding: 2px;
        /* margin-top: 10px; */
        border-radius: 6px; 
        box-shadow: 0px 0px 10px rgb(155 155 155 / 45%);
        margin-left: 9px;  
        width: 90%;     
    }
    
    .form .submit{
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;

    }
    .search{
        margin-top: 5rem;
       width: 90%;
    }

    .bus-car{
        display: flex;
    }
    .carrito{
        margin-top: 77px;
        font-size: 18px;
        margin-left: 7px;
        color: #e29f0f;
    }

    .datos-f{
        width: 100%;
        text-align: center;
        color: white;
    }

    .datos-f p{
        font-size: 15px;
        letter-spacing: 1px;
    }

    .form .input span{
        margin:9px;
        font-size: 13px;
        text-align: center;
    }

    @media (min-width: 768px){
        header{
            position: absolute;
        }
        div.products{
            display:grid;
            grid-template-columns:1fr 1fr ;  
                    
        }            
        main section article i{
            font-size: 20px;
            padding: 6px;
            width: 35px;
            height: 35px;
            border: 1px ;
            background-color: #FFF;
            border-radius: 50%;
            position: relative;
            left:0;
            right: 0;
            top:-30px; 
            justify-content:center;
            align-items:center;
            text-align: right;                          
        }   
        main section article{       
            padding-bottom: 15px;
            margin-left: 40px;
                               
        }       
        main section article .flex-cont{
            text-align: right;
            position:relative;           
        } 
    }

    @media (min-width: 1000px){

        header{
            top:auto;
            /*box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.445);*/
        }

        .contenedor .menu-cont #check, .contenedor .menu-cont .fa-bars, .contenedor .menu-cont .fa-times{
            display: none;
        }

        .contenedor .nav-cont{
            display: flex;
            justify-content: space-between;
        }

        .contenedor .menu{
            visibility: visible;
            display: block;
        }

        .contenedor #ul-menu{
            visibility: visible;
        display: flex;
        /* padding-right: 20px; */
        margin-left: 200px;
        /* text-align: -webkit-match-parent; */
        margin-top: 10px;
        }

        .contenedor li a{
            display: flex;
            font-weight: normal;
        }

        .search{
            margin-top: 38px;
            width: 49%;
            z-index: 2000;
            padding-left: 20px;
            margin-left: 273px;
        }

        .carrito{
            display: none;
        }

        section.banner{
            margin-top: 25px;
            /*box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.445);*/
        }

        .banner img{
            margin-top: 10px;
        }

        .form .input{
            padding:5px;
        }

        .logo img{
            width: 250px;
        }

        div.products{
            display:grid;
            grid-template-columns:1fr 1fr 1fr ;                      
        }


        .menu-pro span{
            font-size: 16px;
            }            
        main section article i{
            font-size: 20px;
            padding: 14px;
            width: 50px;
            height: 35px;
            border: 1px ;
            background-color: #FFF;
            border-radius: 50%;
            position: relative;
            left:0;
            right: 0;
            top:-30px; 
            justify-content:center;
            align-items:center;
            text-align: right;                          
        }
   
        main section article{       
            padding-bottom: 15px;
            margin-left: 40px;                               
        }
        
        main section article .flex-cont{
            align-items: flex-end;
            position:relative;           
        } 

        div.encabezado{
            height: 30px;
            /*background-color: #e29f0f;*/
            border-bottom:1px solid  rgb(187, 185, 185);
            /*box-shadow: 0px 30px 32px -10px rgba(0, 0, 0, 0.55);*/
        }


        .social i {
            padding: 2rem;
            margin-left: 30px;
        }

        div .pie{
            font-size: 20px;
        }

        div menu-cont{
            position: absolute;
        }

        .menu-cont{
            font-size: 20px;
            margin-right: -10px;
        }

        a{
            color: black;
        }

        .datos-f p{
            font-size: 20px;
            letter-spacing: 1px;
        }

    }



