
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


header {
    position: fixed;
    position: -webkit-fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
    width: 100%;
    }

body{
    background-color: gray;
} 


.contenedor .nav-grid{

    display: grid;

}
.logo{
    text-align: left;
}
.contenedor .nav-grid .logo img{
    
    width: 40px;
}

.contenedor .nav-grid .burger-menu{

    text-align: right;
  
}

.contenedor .nav-grid .burger-menu .fa-bars{
    text-align: right;
}



