h1{
 margin: 25px; 
 padding: 20px;
 background: rgb(218, 138, 18);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}
body {
background: rgb(95, 92, 92);

}
.encabezado {
margin-left:78px;
font-size: 55px;
text-align:center;
color: black;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
text-decoration: underline;
background: rgb(218, 138, 18);
width: 435px;
height: 150px;
border: 5px solid rgb(199, 194, 194);

}
.subtitulo {
margin-left: 57px;
font-size: 18px;
color: black; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.block {
width:500px;
height: 85px;
border: 5px solid rgb(199, 194, 194);
justify-content: center;

}

button{
    margin-left: 195px;
    font-size:25px;
    font-weight: bold;
    color:black; 
    background:rgb(218, 138, 18);
    border:20px;
    width:180px;
    height:58px;
    justify-content:center;
    border: 5px solid rgb(199, 194, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.button1{
    margin-left: 78px;
    font-size:16px;
    font-weight: bold;
    color:rgb(14, 13, 13); 
    background:rgb(218, 138, 18);
    border:20px;
    width:140px;
    height:36px;
    text-align:center;
    border: 5px solid rgb(199, 194, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.prueba {
color: blue;
text-decoration: underline;
font-weight: bold;
}
.contenedor{
    padding:45px;
    margin-left: 75px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border: 5px solid rgb(199, 194, 194);
    width: 345px;
    height: 240px;
    background: rgb(218, 138, 18);;
}

#boton :hover{
    background-color: rgb(170, 15, 15);
      color: rgb(0, 0, 0);
    transition: 5ms;
}
