h1{
    margin: 10px; 
    background-color:rgba(255, 255, 255, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:800px; 
    height: 260px;
}
body {
    background: white;
}
.encabezado {
    margin-left:120px;
    font-size: 55px;
    text-align:center;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-decoration: underline;
    background: #e29f0f;
    width: 380px;
    height: 170px;
    border: 5px solid rgb(199, 194, 194);
    border-radius: 5%;
}
.subtitulo {
    margin-left: 57px;
    font-size: 18px;
    color: black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.block {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    width: 550px;
    height: 170px;
}
button{
    font-size:25px;
    font-weight: bold;
    color:black; 
    background:rgb(218, 138, 18);
    border:20px;
    width:180px;
    height:58px;
    justify-content:center;
    border: 5px solid rgb(199, 194, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px; 
}
.button1{
    font-size:16px;
    font-weight: bold;
    color:rgb(14, 13, 13); 
    background:#e29f0f;
    border:20px;
    width:140px;
    height:36px;
    text-align:center;
    border: 4px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.prueba {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}
.contenedor{
    display: flex;
    padding:45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    width: 100%;
    background: #e29f0f;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}
header{
    position:relative;
    text-align: center;
    background-color: white;
    top: 0px;
}
label{
    font-size: 15px;
}
p{
    font-size: 15px;
}


