*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    background-color: white;
}

ul{
    text-align: left;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: gray;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    text-align: center;
}

ul{
    text-align: center;
    font-size: 16px;
}