*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.contenedor{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
}

header{
    background-color:rgba(255, 255, 255, 0.9);
    display: flex;
    text-align: center;
    flex-direction: row;
    position: relative;
    top: -5px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;

}


.contenedor-datos{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;

}

.contenedor-contraseña{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.caja-datos{
    display: flex;
    justify-content: left;
    color: black;
}
.caja-contraseña{
    display: flex;
    justify-content: left;
    color: black;
    background-color: white;
    width: 100%;
 }

 label{
     font-size: 16px;
     font-weight: bold;
 }
 footer{
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: white;
    font-size: 20px;
 }
 h1{
    text-align: center;
    color: black;
 }
 .form{
    display: flex; 
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #e29f0f;
    padding-bottom: 15px;
 }
 button{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 80px;
    border-radius: 15px;
 }
  
 .form .h2cajas{
    display: flex;
    text-align: left;
    background-color: gray;
    justify-content: flex-start;
    position:left
 }


 @media (min-width: 768px){
        .form{
            border-radius: 15px;
        }
        header{
            border-radius: 15px;
        }
        footer{
            font-size: 40px;
            border-radius: 15px;
            width: 100%;
        }
        body{
        padding: 20px;
        }
        h1{
            width: 100%;
            border-radius: 15px;
        }
        .errors{
            color: red;
        }
        
 }