*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: gray;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.contenedor-datos{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    margin: 15pc solid black;
}

.contenedor-contraseña{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    margin: 15pc solid black;
}

.caja-datos{
    display: flex;
    margin: 15px solid black;
    justify-content: center;
}
.caja-contraseña{
    display: flex;
    margin: 15px solid black;
    justify-content: center;
}