*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.contenedor{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

header{
    background-color:rgba(255, 255, 255, 0.9);
    display: flex;
    text-align: center;
    flex-direction: row;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: gray;
}

.logo{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;

}


.contenedor-datos{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.contenedor-contraseña{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.caja-datos{
    display: flex;
    justify-content: left;
    color: white;
}
.caja-contraseña{
    display: flex;
    justify-content: left;
    color: white;
    background-color: gray;
    width: 100vw;
 }

 label{
     font-size: 16px;
     font-weight: bold;
 }

 footer{
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 h1{
    text-align: center;
    color: white;
 }
 .form{
    display: flex; 
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #e29f0f;
 }
 .buttons{
    flex-direction: row;
    display: flex;
    align-items: center;
 }
 
 input{
     border-radius: 15px;
 }
 
 .form .h2cajas{
    display: flex;
    text-align: left;
    background-color: gray;
    justify-content: flex-start;
    position:left
 }