*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    background-color:rgba(255, 255, 255, 0.9);
    display: flex;
    text-align: center;
    justify-content: center;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: gray;
}

.logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;

}


.contenedor-datos{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.contenedor-contraseña{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.caja-datos{
    display: flex;
    justify-content: left;
}
.caja-contraseña{
    display: flex;
    justify-content: left;
 }

 label{
     font-size: 16px;
     font-weight: bold;
 }
 .button1, .button2{
    text-align: center; 
    font-size: 18;
    border: 1px solid black;
    width: 50px;
 }
 footer{
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 h1{
     text-align: center;
 }
 .form{
    display: flex; 
    text-align: center;
    flex-direction: column;
 }