*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.contenedor{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

header{
    background-color:rgba(255, 255, 255, 0.9);
    display: flex;
    text-align: center;
    flex-direction: row;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: gray;
}

.logo{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;

}


.contenedor-datos{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;

}

.contenedor-contraseña{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}

.caja-datos{
    display: flex;
    justify-content: left;
}
.caja-contraseña{
    display: flex;
    justify-content: left;
 }

 label{
     font-size: 16px;
     font-weight: bold;
 }
 .button1, .button2{
    flex-direction: row;
    font-size: 18;
    width: 50px;
    justify-content: space-around;
    border-radius: 15px;
 }
 footer{
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 h1{
     text-align: center;

 }
 .form{
    display: flex; 
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #e29f0f;
 }
 .buttons{
     flex-direction: row;
     display: flex;
     justify-content: space-around;
     box-shadow: rgb(73, 71, 71);
 }

 input{
     border-radius: 15px;
 }