*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    background-color: white;
}

body{
    background-color: gray;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    text-align: center;
}

